@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #2b283a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 95vw;
  max-width: 400px;
  height: 95vh;
  max-height: 400px;
  background-color: #f5f5f5;
  color: #2b283a;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  font-family: "Karla", sans-serif;
}
.game--title {
  margin: 0%;
  margin-bottom: 15px;
}
.game--rules {
  margin: 0;
  color: #4a4e74;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}
.die--container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 18px;
  margin-bottom: 25px;
}
.die--box {
  background-color: white;
  font-family: "Karla", sans-serif;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  aspect-ratio: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.face1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ccircle cx='50' cy='50' r='10' fill='black' /%3E%3C/svg%3E");
}
.face2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ccircle cx='20' cy='20' r='10' fill='black' /%3E%3Ccircle cx='80' cy='80' r='10' fill='black' /%3E%3C/svg%3E ");
}
.face3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ccircle cx='20' cy='20' r='10' fill='black' /%3E%3Ccircle cx='50' cy='50' r='10' fill='black' /%3E%3Ccircle cx='80' cy='80' r='10' fill='black' /%3E%3C/svg%3E");
}
.face4 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ccircle cx='20' cy='20' r='10' fill='black' /%3E%3Ccircle cx='20' cy='80' r='10' fill='black' /%3E%3Ccircle cx='80' cy='20' r='10' fill='black' /%3E%3Ccircle cx='80' cy='80' r='10' fill='black' /%3E%3C/svg%3E ");
}
.face5 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ccircle cx='20' cy='20' r='10' fill='black' /%3E%3Ccircle cx='20' cy='80' r='10' fill='black' /%3E%3Ccircle cx='50' cy='50' r='10' fill='black' /%3E%3Ccircle cx='80' cy='20' r='10' fill='black' /%3E%3Ccircle cx='80' cy='80' r='10' fill='black' /%3E%3C/svg%3E");
}
.face6 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ccircle cx='20' cy='20' r='10' fill='black' /%3E%3Ccircle cx='20' cy='50' r='10' fill='black' /%3E%3Ccircle cx='20' cy='80' r='10' fill='black' /%3E%3Ccircle cx='80' cy='20' r='10' fill='black' /%3E%3Ccircle cx='80' cy='50' r='10' fill='black' /%3E%3Ccircle cx='80' cy='80' r='10' fill='black' /%3E%3C/svg%3E");
}
/* .die--box h2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #2b283a;
  font-weight: bold;
  font-size: 28px;
} */
.die--box.selected {
  background-color: #59e391;
}
.game--turns {
  margin-bottom: 20px;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 20px;
}
button {
  padding: 10px 40px;
  outline: none;
  border: none;
  color: white;
  background-color: #5035ff;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  cursor: pointer;
}
.score--board h1 {
  margin: 0;
  margin-bottom: 15px;
}
.score--board h3 {
  margin: 0;
  margin-bottom: 20px;
}
.score--board p {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: justify;
}
